<div>

  <table class="selectable-table">

    <thead>
      <tr>
        <th></th>
        {{#each this.tableTitles as | title |}}
          <th scope="col">{{capitalize title}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each @model as | object index |}}
        <tr class={{if (includes index this.itemsSelected) "active-row"}}>
          <td>
            <Input
              id="{{index}}-checkbox"
              @type="checkbox"
              @disabled={{not-eq (object-pick object "status") "available"}}
              {{on "input"  (fn this.onClickCheckbox index)}}
            />
          </td>

          {{#each (entries object) as | entry |}}
            {{#if (eq (get entry 0) "status")}}
              <SelectableTable::Status @model={{get entry 1}}/>
            {{else}}
              <td>{{get entry 1}}</td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>

  </table>

</div>